@{
    ViewData["Title"] = "Util.Core.Helpers.Common";
}
<h2>@ViewData["Title"]</h2>
<link href="~/css/site.css" rel="stylesheet" />
<div class="row" style="">
    <div class="col-md-12">
        <dl>
            <dt>
                <a name='TGetType' class="mao"></a>
                < T >  GetType
            </dt>
            <dd>
                <span class="label">para</span>: none
            </dd>
            <dd>
                <span class="label">return</span>: Type
            </dd>
            <dd>
                <span class="label">eg</span>:
            </dd>
        </dl>
        <dl>
            <dt>
                <a name='GetTypeT' class="mao"></a>
                GetType(Type t)
            </dt>
            <dd>
                <span class="label">para</span>: none
            </dd>
            <dd>
                <span class="label">return</span>: Type
            </dd>
            <dd>
                <span class="label">eg</span>: Util.Core.Helpers.Common.GetTypeT< string >("test")  == > string
            </dd>
        </dl>
        <dl>
            <dt>
                <a name='GetPhysicalPath' class="mao"></a>
                GetPhysicalPath(string relativePath)
            </dt>
            <dd>
                <span class="label">para</span>: none
            </dd>
            <dd>
                <span class="label">return</span>: string
            </dd>
            <dd>
                <span class="label">eg</span>: Util.Core.Helpers.Common.GetPhysicalPath("test/t.html")  == > c://wwwroot/test/t.html
            </dd>
        </dl>
        <dl>
            <dt>
                <a name='GetWebRootPath' class="mao"></a>
                GetWebRootPath(string relativePath)
            </dt>
            <dd>
                <span class="label">para</span>: none
            </dd>
            <dd>
                <span class="label">return</span>: string
            </dd>
            <dd>
                <span class="label">eg</span>: Util.Core.Helpers.Common.GetWebRootPath("test/t.html")  == > c://wwwroot/test/t.html
            </dd>
        </dl>
    </div>
</div>
