@{
    ViewData["Title"] = "Util.Core.Helpers.Encrypt";
}
<h2>加解密</h2>

<link href="~/css/site.css" rel="stylesheet" />
<div class="row" style="">
    <div class="col-md-12">
        <dl id="TGetType">
            <dt>
                <a name='PinYin' class="mao"></a>
                PinYin(string chineseText)
            </dt>
            <dd><span class="label">dec</span>: 获取汉字的拼音简码，即首字母缩写,范例：中国,返回zg</dd>
            <dd>
                <span class="label">para</span>: string chineseText
            </dd>
            <dd>
                <span class="label">return</span>: string
            </dd>
            <dd>
                <span class="label">eg</span>: Util.Core.Helpers.String.PinYin("中国") = > "zg"
            </dd>
        </dl>
    </div>

</div>